body {
    padding-bottom:  550px;
}

/* Flexbox */
.flexbox {
    display: flex;
    background-color: blue;
    color: white;
    margin-bottom: 30px;
}

/* Flex Direction */
.flex_direction {
    display: flex;
    flex-direction: column;
    background-color: #bbb;
}

/* Flex Wrap */
.flex_wrap {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.caixa {
    height: 150px;
    width: 150px;
    border: 2px solid salmon;
}

/* Flex Justify-content */
.center, .space-around, .space_between, .end {
    display: flex;
    margin-bottom: 30px;
}

.center .caixa, .space-around caixa, .space_between .caixa, .end .caixa {
    /* width: 100px;
    height: 100px; */
    size: 100px;
}

.center {
    justify-content: center;
}

.space-around {
    justify-content: space-around;
}

.space_between {
    justify-content: space-between;
}

.end {
    justify-content: end;
}

/* Align Itens */
.align-center, .flex-end, .stretch{
    display: flex;
    height: 200px;
    border: 3px solid orangered;
    margin: 30px;
}
 
.align-center .caixa, .flex-end .caixa, .stretch .caixa{
    width: 150px;
}
 
.align-center{
    align-items: center;
    justify-content: center;
}
 
.flex-end{
    align-items: flex-end;
}
 
.stretch{
    align-items: stretch;
}
 
.stretch .caixa{
    height: auto;
}
 
/* Gap */
.gap{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 4px solid yellowgreen;
    gap: 8px;
}
 
.gap.caixa{
    width: 32%;
}

/* Order */
.order {
    display: flex;  
}

.order .caixa {
    flex: 1;
}

#a {
    order: 3;
}

#b {
    order: 1;
}

#c {
    order: 2;
}
 
/* Grow */
.grow {
    display: flex;
}

.grow .caixa {
    flex: 1;
}

.grow .maior {
    flex:2;
}

/* Flex Basis */
.flex_basis {
    display: flex;
}

.flex_basis .caixa {
    flex-basis: 50px;
}

.flex_basis .maior {
    flex-grow: 1;
}

/* Flex Shrink */
.flex_shrink {
    display: flex;
}

.flex_shrink .caixa {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 300px;
    width: auto;
}

.flex_shrink .menor {
    flex-shrink: 2;
}

/* Flex Shorthand */
.shorthand {
    display: flex;
}

.shorthand .caixa {
    width: auto;
    flex: 1 1 50px; /*embaixo = 1 de grow, 1 de shrink e 50px de basis*/
}

.shorthand .diferenciada {
    flex: 4 1 300px;
}

/* Align Self */
.align_self {
    display: flex;
    height: 400px;
    align-items: center;
    border: 2px solid blue;
}

.align_self .diferenciada {
    align-self:flex-end;
}

.align_self .diferenciada2 {
    align-self: flex-start;
}